
<div id="coursel"></div>

    <div class="quick-link-ctn">
        <ul class="index-navigator">
            <li>
                <a href="#quickorder/orderedit" data-ignore="push">
                    <div class="index-category" style="background-color: #f1c40f">
                        <i class="icon fa fa-bolt"></i>
                    </div>
                    <span>快速下单</span>
                </a>
            </li>
            <li>
                <a href="#goodslist/goodslistview?category_id=16" data-ignore="push">
                    <div class="index-tmall" style="background-color: lightskyblue">
                        <i class="icon fa fa-database"></i>
                    </div>
                    <span>商品列表</span>

                </a>
            </li>
            <li>
                <a href="#message/messages" data-ignore="push">
                    <div class="index-order" style="background-color: lightseagreen">
                        <i class="icon fa fa-comment-o"></i>
                    </div>
                    <span>消息中心</span>
                </a>
            </li>
            <li>
                <a href="#myorder/myorder" data-ignore="push">
                    <div class="index-category">
                        <i class="icon fa fa-file-text-o"></i>
                    </div>
                    <span>我的订单</span>
                </a>
            </li>
            <li>
                <a href="#mycheckbill/checkbill" data-ignore="push">
                    <div class="index-tmall">
                        <i class="icon fa fa-cny"></i>
                    </div>
                    <span>我的账单</span>

                </a>
            </li>
            <li>
            <li>
                <a href="#reports/reports" data-ignore="push">
                    <div class="index-account">
                        <i class="icon fa fa-bar-chart"></i>

                    </div>
                    <span>统计报表</span>
                </a>

            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!--<div class="divided">-->
        <!--<div>最近浏览</div>-->
        <!--<hr>-->
    <!--</div>-->
    <!--<div id="recentview" class="recentview">-->
        <!--<ul>-->

            <!--<li v-for="item in items">-->
                <!--<a href="#goods/goodsview?wareId={{item.ware_id}}" data-ignore="push">-->
                    <!--<img src="../../goodsimg/{{item.main_picture}}" alt="" class="img-responsive">-->
                    <!--<p><span>￥</span><span>{{item.price}}</span></p>-->
                <!--</a>-->
            <!--</li>-->

        <!--</ul>-->
        <!--<div class="clearfix"></div>-->
    <!--</div>-->
    <!--&lt;!&ndash;商品分类&ndash;&gt;-->
    <!--<div class="divided">-->
        <!--<div>商品分类</div>-->
        <!--<hr>-->
    <!--</div>-->
    <!--<div id="categoryview" class="good-category">-->
        <!--<ul>-->
            <!--<li v-for="item in items">-->
                <!--<a href="#goodslist/goodslistview?category_id={{item.category_id}}" data-ignore="push">-->
                    <!--<p><span>{{item.category_name}}</span></p>-->
                    <!--<img src="../../goodsimg/{{item.main_picture}}" alt="">-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div class="clearfix"></div>-->
    <!--</div>-->
    <br>
    <br>
</div>
